.search-not-found-container {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #101010;
    margin-top: 200px;
}

