header {
    width: 100%;
    flex-shrink: 0;
    font-family: Heebo;
}

.navig {
    background: #110F21;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
}

.logo {
    margin-bottom: 17px;
    margin-top: 17px;
    margin-left: 160px;
}

.nav-item-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 162px;
    margin-top: 29px;
    margin-bottom: 29px;
}

.basket-heart-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 42px;
}

.heart {
    margin-right: 25px;
}

.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.register {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.register:hover {
    cursor: pointer;
}

.register-line {
    height: 17px;
    width: 2px;
    background: #FD7114;
    margin-right: 15px;
    margin-left: 15px;
}

.login {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.login:hover {
    cursor: pointer;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 164px;
}

.user-ifo-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    margin-right: 10px;
}

.user-info-img {
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    background: #DEDEE0;
    border: 2px solid #FD7114;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 10px;
}

.user-info-img {
    cursor: pointer;
}

.tick-img {
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.basket-heart-container span:hover {
    cursor: pointer;
}
.basket-heart-container div:hover {
    cursor: pointer;
}
.basket{
    cursor: pointer;
    position: relative;
}
.quantity-counter{
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    border-radius: 50%;
    background: #FD7114;
    border: 1px solid #110F21;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    bottom: 8px;
    left: 8px;
    z-index: 999;
}
.quantity-counter span{
    font-size: 10px;
    display: flex;
    align-self: center;
}